{% extends 'demo_app/base.html' %}

{% block content %}
<h1>info</h1>

<canvas id="sex" style="height: 50px;"></canvas>
<canvas id="marriage" style="height: 50px;"></canvas>

{% endblock %}

{% block script %}
<script type="text/javascript" charset="shift_jis">
    data_sex = {
      labels: ['男性', '女性'],
      datasets: [{
        label: 'sex',
        data: [{{num_men}}, {{num_women}}],
        backgroundColor: ['rgba(66, 212, 244, 0.2)', 'rgba(255, 99, 132, 0.2)',]
      }]
    };

    data_marriage = {
        labels: ['Yes', 'No'],
        datasets: [{
          label: 'marriage',
          data: [{{marriage_yes}}, {{marriage_no}}],
          backgroundColor: ['rgba(66, 212, 244, 0.2)', 'rgba(255, 99, 132, 0.2)',]
        }]
    };

    var myBarChart1 = new Chart(sex,{
        type: 'bar',
        data: data_sex,
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                  }
                }]
              }
            }
          });

      var myBarChart2 = new Chart(marriage,{
          type: 'bar',
          data: data_marriage,
          options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                    }
                  }]
                }
              }
            });

</script>

{% endblock %}
